<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Drums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drums</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Ritmo:</ion-label>
    <ion-select [(ngModel)]="selectedRhythm">
      <ion-select-option *ngFor="let rhythm of presetRhythms" [value]="rhythm">{{ rhythm.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-button (click)="playRhythm()">Play</ion-button>
</ion-content>

