
.content-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Esto distribuirá los elementos uniformemente */
  padding: 0;
  margin: 0;
  height: 100%; /* O min-height: 100vh; si quieres asegurarte de que ocupe al menos la altura de la pantalla */
}

.row {
  margin-bottom: 0.5rem; /* Ajusta el margen según sea necesario */
}

.custom-box {
  padding: 0.5rem; /* Ajusta el relleno según sea necesario */
}

/* Espaciado alrededor de los botones */
ion-button {
  margin: 0.5rem; /* Añade un margen alrededor de los botones para separarlos */
}

/* Espaciado adicional para el botón Tap */
.tap-button {
  margin-top: 1rem; /* Añade un margen superior extra para el botón Tap */
}

/* Ajustar los sliders para que no toquen los bordes */
ion-range {
  margin: 0.5rem 0; /* Añade un margen superior e inferior */
}

/* Asegúrate de que los selectores no sean demasiado anchos */
ion-select {
  max-width: 200px; /* O un valor que se adapte a tu diseño */
  margin: 0 auto; /* Centrar el selector si es más pequeño que el ancho disponible */
}

/* Centrar el botón Volver en la pantalla */
.volver-button {
  margin: 1rem auto; /* Añade un margen superior e inferior y centra horizontalmente */
}
